
/* -------------------------------Carousel Stuff-------------------------*/

#myCarousel .item{
  height:700px;
}

#slide1{
  background: url('../images//paulysCarouselver3.jpg') top center no-repeat;
   height:730px;
}
#slide2{
  background: url('../images//paulysCarousel1.jpg') top center no-repeat;
}

#slide3{
  background: url('../images//paulysCarousel1.jpg') top center no-repeat;
}
.carousel-caption{

  margin-bottom: 11%;
  width:50%;

 
}

.button{
float: right;
}

@media only screen and (max-width:1700px){
    .carousel-caption{
      margin-bottom: 14%;
      width: 55%;
    }
}

@media only screen and (max-width:1350px){
    .carousel-caption{
      margin-bottom: 16%;
      width: 60%;
    }
}


@media only screen and (max-width:1200px){
    .carousel-caption{
      margin-bottom: 19%;
      width: 65%;
    }
}

/*--------------- mobile tab full -------------*/
@media only screen and (max-width:979px){

  #slide1{
  background: url('../images/paulysCarouselver3mob2.jpg') top center no-repeat;
  }
  #slide2{
    background: url('../images/slide2-med.png') top center no-repeat;
  }

  #slide3{
    background: url('../images/slide3-med.png') top center no-repeat;
  }
  
  #welcomeRow{
  background: url('../images/header-med.png') top center no-repeat;
  padding-bottom:160px;

  }

    .carousel-caption{
      margin-bottom: 25%;
      width: 70%;
    }
  
}

@media only screen and (max-width:768px){
  #myCarousel .item{
    height:500px;
  }
  
  #slide1{
    background: url('../images/paulysCarouselver3Tab.jpg') top center no-repeat;
     height:500px;
  }
  #slide2{
    background: url('../images/slide2-sm.png') top center no-repeat;
  }

  #slide3{
    background: url('../images/slide3-sm.png') top center no-repeat;
  }
  
  #welcomeRow{
  background: url('../images/header-sm.png') top center no-repeat;
  padding-bottom:100px;

  }

    .carousel-caption{
      margin-bottom: 16%;
      width: 70%;
    }

}

@media only screen and (max-width:480px){
  #myCarousel .item{
    height:400px;
  }
  .carousel-caption h3{
    font-size: 14px !important;
  } 
  #slide1{
    background: url('../images/paulysCarouselver3XS.jpg') top center no-repeat;
    height:400px;
  }
  #slide2{
    background: url('../images/slide2-xsm.png') top center no-repeat;
  }

  #slide3{
    background: url('../images/slide3-xsm.png') top center no-repeat;
  }
  
  #welcomeRow{
  background: url('../images/header-xsm.png') top center no-repeat;
  padding-bottom:100px;

  }
  .col-sm-4{
  padding-bottom:120px;
  }

     .carousel-caption{
      margin-bottom: 14%;
      width: 80%;
    }


}

/*-----------------end carousel ----------------------*/


.row {
    margin-top: 10px;

}

#navWidth{
  width: 80%;
}

#amazon{
  background-color: red;
}

#logoSpace{
  width: 10%;
}

.navbar{
  background-color: black;
  border: none;
  height: 60px;
}


#phone {
  background-color: #931C1F;
  margin-top: -10px;
  padding: 0px 0px;
  height: 2px;
}



#title {
  padding-top: 100px;
  text-align: center;
}


.affix {
  top: 55px;
  width: 100%;
}

.affix-top {
  top: 55px;
  width: 100%;
}

.affix-bottom {
  width: 100%;  
}


@media only screen and (max-width:2600px){
    .coolBar{
      width:50%;
    }

  }
@media only screen and (max-width:1350px){
    .coolBar{
      width:60%;
    }

  }
@media only screen and (max-width:1150px){
    .coolBar{
      width:70%;
    }

  }
@media only screen and (max-width:1000px){
    .coolBar{
      width:80%;
    }

  }
@media only screen and (max-width:900px){
    .coolBar{
      width:90%;
    }

  }
@media only screen and (max-width:800px){
    .coolBar{
      width:100%;
    }

  }

hr {
  border-color: #ABB7B7
}




#typeTag{
  background-color: #911a1e;
  height: 50px;
}

#typeTag h1{
  color: white;
  font-size: 30px;
  line-height: 15px;
}



#scrip {
   font-family: "Calibri", Calibri, sans-serif;

}


#fonts 
{
    font-family: "Calibri", Calibri, sans-serif;
    
}


@media (min-width: 300px) {
  #scrip  {
    font-size: 18px;
  }
}

.navbar-nav{
  margin-left: 10%;
}
   .navbar-nav> li>a{
    color: grey;
    font-family: 'Zilla Slab', serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: none;
    line-height: 40px;
 
  
   }


.navbar-nav>.active>a{ 
  color: white;
  text-shadow: none;
  background-color: transparent;
  }

  .navbar-nav>.active>a:focus{ 
  background-color: transparent;
  }
  
  

.navbar-nav> li>a:hover{
    color: white;
    background-color: transparent;
  
    }

#name{
   border: 4px solid black;
   border-radius: 0px;
} 

#email{
   border: 4px solid black;
   border-radius: 0px;
} 

#message{
   border: 4px solid black;
   border-radius: 0px;
} 

#img-logo {
    z-index: 10;
    position: absolute;
    display: block;
    margin-top: -17px;
    max-width: 150px;
    transform: translateX(-50%);
}
#navbar {
  color: white;
  background-color: black;
;
}


#navbar-links {
  color: white;
  background-color: black;
}

@media (min-width: 865px){
  #left-nav {
    margin-left: 20%;
  }
}

@media (min-width: 690px) and (max-width: 780px) {
  #left-nav {
    margin-left: 5%;
  }
}

@media (min-width: 780px) and (max-width: 865px) {
  #left-nav {
    margin-left: 0px;
  }
}

#fonts h1 {
        font-weight: bold; 

}

.navbar .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  display: block;
}

.nav-tabs.nav-justified > li > a {
  border-bottom: none;
}

  .nav-tabs.nav-justified > .active > a {
    border: none;
    border-bottom: 2.5px solid #149648;
  }

  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus{
    border: none;
    border-bottom: 2.5px solid #149648;
  }

  .nav-tabs.nav-justified > li > a:hover,
  .nav-tabs.nav-justified > li > a:focus{
    background-color: transparent;
    border: none;
    border-bottom: 2.5px solid #149648;
  }

#infos2{
  display: none;
}


#contact2{
  display: none;
}

@media (max-width: 991px) {
      #contact2{
        display: block;
      }

      #contact {
        display: none;
      }

      #infos2{
        display: block;
      }

      #infos1 {
        display: none;
      }
      #paulswall{
        width:100%;
      }
      .img-responsive{
        margin-bottom: 50px;
      }

      #paulswallhead{
        font-size: 100px;
        position: center;
        margin-bottom: 25px;
        color: #D2D7D3;
      }
   
      #homepage-text{
        margin-top: -100px;
      }

      .hero{
        display: none;
      }
      .menuTitle{
        margin-bottom: 50px;
      }


}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(167, 31, 35, .95);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}

@media (max-width: 768px) {

    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}

@media (min-width: 1000px){
  #menu li {
    font-family: "Futura", Futura, sans-serif;
    font-size: 25px;
  }
}

@media (min-width: 500px) and (max-width:999px){
  #menu li {
    font-family: "Futura", Futura, sans-serif;
    font-size: 20px;
  }
}

@media (max-width: 500px){
  #menu li {
    font-family: "Futura", Futura, sans-serif;
    font-size: 14px;
  }
}

#menunav {
  padding-left: 0px;
  padding-right: 0px;
}

#menu ul {
  border-bottom: none;
  border-bottom-style: none;
}

#menu li > a {
  color: black;
}

#menu li>a:hover{
    color: black;
    background-color: transparent;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -kthtml-transition: all .15 linear;
    transition: all .15s linear;
    }

#menu li>a:hover:before{
    content: "";
    color: white;
    background: none;
    position: absolute;
    width: 80%;
    height: 5px;
    bottom: 0px;
    left: 10%;
    border-bottom: 3px solid #149648; 
}

#menu .active >li:before{
      color: white;
  content: "";
    position: absolute;
    background-color: transparent;
    width: 80%;
    height: 5px;
    bottom: 0px;
    left: 10%;
    border-bottom: 3px solid #149648;
   
}

#menu>.active> a:before{
      color: white;
  content: "";
    position: absolute;
    background-color: transparent;
    width: 80%;
    height: 5px;
    bottom: 0px;
    left: 10%;
    border-bottom: 3px solid #149648;
   
}


#menu {
  background-color: white;
}

#menu li {
    font-family: "Futura", Futura, sans-serif;
}

#fonts h1,
#fonts h2,
#fonts h3,
#fonts h4 {
     font-family: 'Zilla Slab', serif;
  
}

#fonts p
{
    font-family: "Calibri", Calibri, sans-serif;
     font-size: 22px;
    
}
  #fonts p {
   
}






@media (min-width: 767px) {
  .col-sm-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .col-sm-4 .thmb1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .col-sm-4 {
    padding-bottom: 0px;
  }
  
  .row {
    margin-top: 0px;
  }
  .portfolio-link{
    width: 90%;
  }
  #infos2{
    margin-top: 100px;
    margin-bottom: 25px;
  }
  #contact2{
    margin-top: 100px;
  }
  #maps{
    margin-bottom: 50px;
  }

}

@media (max-width: 480px) {
  .col-sm-4 .thmb1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .row {
    margin-top: 0px;
  }
}



#black-container {
    width: 100%;
    background-image: url("../images/black_background.png");
}
#gray-container {
    width: 100%;
    background-image: url("../images/gray_background.png");
}

#homepage-images img {
  padding-bottom: 15px;
}



.container-fluid img {
  padding: 10px 0px;
}

--#accordion section p {
    display: none;
  
}

--#accordion section a{
    color: black;
    text-decoration: none;
}

--#accordion section:target p{
    display: block;
}

--#accordion div:target p{
    display: block;
}

#carousel-homepage{
  margin-top: 85px;
}

.button
{
    background-color: #911a1e;
    color: white;
    border-radius: 0px; 
    padding: 10px 30px 10px 30px;
    letter-spacing: 2px; 
    
}
.button:hover {
    background-color: #973639;
    text-decoration: none;
    color: white;
}

.button2
{
    background-color: #911a1e;
    color: white;
    border-radius: 0px; 
    padding: 10px 30px 10px 30px;
    letter-spacing: 2px; 
    
}
.button2:hover {
    background-color: #973639;
    text-decoration: none;
}

@media only screen and (max-width:480px){
    .button{
         padding: 5px 15px 5px 15px;
         margin-bottom: 14px;

    }
}

#buttDial{
     position: center;
  color: #5A9558;
  border: solid 3px #5A9558;
   padding: 2.5px 10px 2.5px 10px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  border-radius: 0px;
}

#buttDial:hover {
    background-color: #5A9558;
    text-decoration: none;
    color: white;

}

#emailButton{
     position: center;
  color: #911a1e;
  border: solid 3px #911a1e;
   padding: 5px 15px 5px 15px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  border-radius: 5px;
}

#emailButton:hover {
    background-color: #911a1e;
    text-decoration: none;
    color: white;

}
.buttonBlack
{
    background-color: black;
    color: white;
    border-radius: 0px; 
    padding: 10px 30px 10px 30px;
    letter-spacing: 2px; 
    border: none;

    
}


.buttonGreen
{
    background-color: #5a9558;
    color: white;
    border-radius: 0px; 
    padding: 10px 30px 10px 30px;
    letter-spacing: 2px; 
    border: none;
    
}
.buttonGreen:hover {
    background-color: #8dc08c;
    text-decoration: none;
    color: white;
}

.parallax {
    /* The image used */
    background-image: url('../images/catering_background.jpg');
    /* Full height */
    height: 50%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}
.parallax-ourstory {
     /* The image used */
    background-image: url('../images/passion2.jpg');
    /* Full height */
    height: 50%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size:cover;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
    .parallax-ourstory {
        background-attachment: scroll;
    }
}

#storyText{
    
    padding-top: 7%;
    font-size:150px;
    height: 500px;
}

@media (max-width: 800px) {
  #storyText{
      font-size:100px;
      height: 400px;
  }
}
@media (max-width: 425px) {
  #storyText{
    font-size:75px;
      padding-top: 15%;
  }
}

@media (min-width: 800px) {
  #parallax-responsive{
    font-size: 80px;
  }


}
@media (min-width: 1200px) {
  #parallax-responsive {
    font-size: 100px;
  }
}

#fonts2 {

 
}

#fonts2 h1{
         font-weight: bold; 
    text-align: center;
}



.menuItem {

}

#footer {
  text-align:center;
  background-color: black;
  color: lightgray;
}

#footer img {
  padding: 10px 10px;
}



#catering p
{
    font-family: "Calibri", Calibri, sans-serif;
    
}


@media (min-width: 300px) {
  #catering p {
    font-size: 19px;
  }
  #catering{
  width:100%;
}
}
@media (min-width: 500px) {
  #catering p {
    font-size: 22px;
  }

  #catering{
  width:80%;
}
}

.modal-content{
  background-color: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: none;
}
.modal-body{
    width:100%;
    position: center;
    margin:0 auto;
    background-color: none;
     border-radius: 0px;
    /*add what you want here*/
}
.modal-header
{
  background-color: none;
  border-color: transparent;
  opacity: 1; 
  border-radius: 0px;
}

@media (min-width: 800px) {


  #catering{
  width:70%;
  }
}

@media (min-width: 1000px) {


  #catering{
  width:60%;
  }
}

@media (min-width: 1200px) {


  #catering{
  width:50%;
  }
}
@media (min-width: 1400px) {


  #catering{
  width:40%;
  }
}

.qeBreak {
    color: #149648;
}

#imageOne{
   background: url('../images//paulysCarouselver3.jpg') top center no-repeat;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

#imageTwo{
  background: url('../images//paulysCarouselver3.jpg') top center no-repeat;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
margin-top: 20px;
  }

#imageThree{
 background: url('../images//paulysCarouselver3.jpg') top center no-repeat;
    color: white;
    padding-left: 10px;
       padding-right: 10px;
       margin-top: 20px;
  }
#imageFour{
 background: url('../images//paulysCarouselver3.jpg') top center no-repeat;
    color: white;
    padding-left: 10px;
       padding-right: 10px;
       margin-top: 20px;
  }

#menuTitleOne{
  margin-top: -2%;
}
#menuTitleTwo{
  margin-top: -2%;
}

#menImage {
  margin-bottom: 7%;
}

#sizeSalad{
  background-color: black;
   color: white;
    padding-left: 10px;
    padding-right: 10px;
}



