.navbar-default{

	background-color: red ;
	  border-color: transparent;

	}

#menu .nav-tabs li{
	color: red;
}

.nav-tabs li{
	font-size: 24px;
	color: red;
	}


#menuTitle h1 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold; 
    text-align: left;
    letter-spacing: 2px; 
}
#menuTitle h3 {
    font-family: "Futura", Futura, sans-serif;
    text-align: left;
}
#menuTitle h4 {
    font-family: "Futura", Futura, sans-serif;
    text-align: left;
}
#menuTitle p {
    font-family: "Calibri", Calibri, sans-serif;
    font-size: 16px; 
}

.menuItem{
    margin-bottom: 7.5%;
}

#slide2{
 -webkit-animation-delay: 0s;
}

#slide3{
   -webkit-animation-delay: -.1s;}

#slide4{
  -webkit-animation-delay: -.4s;
}

#slide5{
 -webkit-animation-delay: -.4s;
}


#slide6{
   -webkit-animation-delay: -.4s;
}

#slide7{
 -webkit-animation-delay: -.4s;
}






.col-md-12{
    margin-bottom: 20%;
}


.menuTitle p:hover{
     background-color: transparent;
    cursor: pointer;
   transition: all ease .7s;
  -webkit-transition: all ease .7s;
  -moz-transition: all ease .7s;
    }


.menuTitle p:hover:before{
    content: "";
    position: absolute;
    left:40%;
    width: 20%;
    bottom: 5px;
    border-bottom: 4px solid  #973639;
    transition: all ease .3s;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
   
}

.menuTitle p{

   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

#menuBar {
    width: 90%;
    left: 5%;
}


@media (max-width: 991px) {
    .menuTitle{
        padding-bottom: 10%;

    }


    }

@media (max-width: 700px) {
    .menuTitle{
        padding-bottom: 15%;

    }

    }

@media (max-width: 800px) {
    .menuTitle p{
        font-size: 15px;
        float: left
        left:-20px;
    }
        #border{
        
            left:0;
        }
    }

@media (max-width: 425px) {
    small{
        font-size: 14px;
    }
    .menuItem p{
        font-size: 10px;
    }
   
    }

